{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    Bienvenue sur ce blog
  </h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id aperiam
    est, tempora reprehenderit modi maiores harum! Consequuntur quibusdam dolor
    numquam a. Quod nisi temporibus eligendi vero et adipisci iste.lorem. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Inventore, sunt et.
    Numquam quis tempora veniam itaque soluta quae modi sit perferendis. Minima
    nobis eius laudantium illum doloremque quod facilis illo.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, dolor
    deleniti? Doloremque temporibus cum veniam laboriosam consequuntur
    accusantium facilis, ipsum, natus earum similique rem, quis necessitatibus
    magnam culpa obcaecati placeat porro qui voluptas nam vero ab? Illum
    accusantium dicta exercitationem!
  </p>
  <p>
    Praesentium sed corrupti quisquam, omnis est ullam enim ipsa dolor nobis
    assumenda cupiditate, expedita quas numquam aliquid blanditiis aliquam!
    Deleniti incidunt unde fugiat totam, laborum quas doloribus esse facere,
    voluptas minima expedita dolorum eius molestiae voluptates ipsa natus enim
    cumque?
  </p>
{% endblock %}
